a{text-decoration: none; color: black;}
.title{font-size: 30px;}
.subtitle{font-size: 25px;}
.wrap{margin: 0 auto ;height:fit-content ; width: 90%; background-color: white;}
.how{font-weight: bold;}
.quick{margin-left:10px; width: 16%; height: fit-content; font-size: larger; font-weight: bold; color: black; text-decoration: none; border: 2px solid black;}
#EP{text-align: left;}
#temperature{white-space: nowrap; font-weight: bold;}